*.sw*
build*/

dist/
*.egg-info/

.vscode/

graveyard.txt

doc/html/

doc/latex/

*.m~

*.pyc

ros/install/
ros/log/
ros/build/


ros/src/py_detector/py_detector/weights/yolov3.weights

.python-version

compile_commands.json
